<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    />
  </head>
  <body>
    <% include ./../layouts/common %> 
    <div class="container">
        <h1>This is Search</h1>
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="input-group">
                <input value = <%=matchValue %> type="text" class="form-control" placeholder="Search" name="q"/>
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                </div>
            </div>
        </div>
      <h2></h2>
      <div class="panel-group">
        <div class="panel panel-primary">
          <div class="panel-heading">List Users</div>
          <div class="panel-body">
            <table class="table table-bordered">
              <thead>
                <tr class="row">
                  <th class="col-lg-3">ID</th>
                  <th class="col-lg-4">Name</th>
                  <th class="col-lg-5">Phone</th>
                </tr>
              </thead>
              <tbody>
                <% users.forEach(function(user) { %>
                <tr class="row">
                  <td><%= user.id %></td>
                  <td><%= user.name %></td>
                  <td><%= user.phone %></td>
                 
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
